/* You can add global styles to this file, and also import other style files */
.btn span {
	vertical-align: super;
	font-weight: bold;
}
.img-centralize {
	margin: 0 auto;
	margin: 0 auto;
    border-radius: 50%;
    margin-top: 10%;
}